<%- include("../layouts/header.ejs") %>; 
<%- include("../layouts/mainCorousel.ejs") %>;

<div id="mainBody">
	<div class="container">
	  <div class="row">
		  <%- include("../layouts/sidebar.ejs") %>;
		  <div class="span9">		
			  <div class="well well-small">
			  <h4>Featured Products <small class="pull-right">200+ featured products</small></h4>
			  <div class="row-fluid">
			  <div id="featured" class="carousel slide">
			  <div class="carousel-inner">
				<div class="item active">
				<ul class="thumbnails">
				  <li class="span3">
					<div class="thumbnail">
					<i class="tag"></i>
					  <a href="/product_detail"><img src="themes/images/products/b1.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						<h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				  <li class="span3">
					<div class="thumbnail">
					<i class="tag"></i>
					  <a href="/product_detail"><img src="themes/images/products/b2.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						<h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				  <li class="span3">
					<div class="thumbnail">
					<i class="tag"></i>
					  <a href="/product_detail"><img src="themes/images/products/b3.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						 <h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				  <li class="span3">
					<div class="thumbnail">
					<i class="tag"></i>
					  <a href="/product_detail"><img src="themes/images/products/b4.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						 <h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				</ul>
				</div>
				 <div class="item">
				<ul class="thumbnails">
				  <li class="span3">
					<div class="thumbnail">
					<i class="tag"></i>
					  <a href="/product_detail"><img src="themes/images/products/5.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						<h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				  <li class="span3">
					<div class="thumbnail">
					<i class="tag"></i>
					  <a href="/product_detail"><img src="themes/images/products/6.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						<h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				  <li class="span3">
					<div class="thumbnail">
					  <a href="/product_detail"><img src="themes/images/products/7.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						 <h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				  <li class="span3">
					<div class="thumbnail">
					  <a href="/product_detail"><img src="themes/images/products/8.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						 <h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				</ul>
				</div>
				 <div class="item">
				<ul class="thumbnails">
				  <li class="span3">
					<div class="thumbnail">
					  <a href="/product_detail"><img src="themes/images/products/9.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						<h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				  <li class="span3">
					<div class="thumbnail">
					  <a href="/product_detail"><img src="themes/images/products/10.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						<h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				  <li class="span3">
					<div class="thumbnail">
					  <a href="/product_detail"><img src="themes/images/products/11.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						 <h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				  <li class="span3">
					<div class="thumbnail">
					  <a href="/product_detail"><img src="themes/images/products/1.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						 <h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				</ul>
				</div>
				 <div class="item">
				<ul class="thumbnails">
				  <li class="span3">
					<div class="thumbnail">
					  <a href="/product_detail"><img src="themes/images/products/2.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						<h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				  <li class="span3">
					<div class="thumbnail">
					  <a href="/product_detail"><img src="themes/images/products/3.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						<h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				  <li class="span3">
					<div class="thumbnail">
					  <a href="/product_detail"><img src="themes/images/products/4.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						 <h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				  <li class="span3">
					<div class="thumbnail">
					  <a href="/product_detail"><img src="themes/images/products/5.jpg" alt=""></a>
					  <div class="caption">
						<h5>Product name</h5>
						 <h4><a class="btn" href="/product_detail">VIEW</a> <span class="pull-right">$222.00</span></h4>
					  </div>
					</div>
				  </li>
				</ul>
				</div>
				</div>
				<a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
				<a class="right carousel-control" href="#featured" data-slide="next">›</a>
				</div>
				</div>
		  </div>
		  <h4>Latest Products </h4>
				<ul class="thumbnails">
				  <% if (products.length > 0) { %>
					  <% products.forEach( product => { %>   
						<li class="span3">
							<div class="thumbnail">
								<a href="/product_detail/<%= product.id %> "><img style="width: 300px; height:200px;" src="<%= product.imageUrl %>"
										alt="<%= product.title %>" /></a>
								<div class="caption">
									<h5><%= product.title %></h5>
									<p>
										<%= product.shortDescription %>
									</p>
									<h4 style="text-align:center">
												<a class="btn" href="/product_detail/<%= product.id %>"> Detail <i
												class="icon-zoom-in"></i></a> 
												<% if(isAuthenticated) { %>					
												<form action="/cart" method="post">
													<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
													<button class="btn" type="submit">Add to <i
															class="icon-shopping-cart"></i></button>
													<input type="hidden" name="productId" value="<%= product.id %>">
												</form>
												<%}%>
												<a class="btn btn-primary"
											href="#"><%= product.price %> UAH</a></h4>
								</div>
								<div style="width:100%;padding-left: 25%;">
																	</div>
							</div>
						</li>
				  <% }) %>
				  <% } else { %>
					  <ul><h2>No products found.</h2></ul>
				  <% } %>
				  
				</ul>	
  
		  </div>
	  </div>
	</div>
  </div>
<%- include("../layouts/footer.ejs") %>;
