<%- include('../layouts/header.ejs')  %>

<div id="mainBody">
    <div class="container">
        <div class="row">

            <%- include('../layouts/sidebar.ejs')  %>

            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                    <li class="active"> SHOPPING CART</li>
                </ul>
                <h3> SHOPPING CART [ <small>3 Item(s) </small>]<a href="/" class="btn btn-large pull-right"><i
                            class="icon-arrow-left"></i> Continue Shopping </a></h3>
                <hr class="soft" />

                <% if (orders.length > 0) { %>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Quantity/Update</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(order => { %>
                        <% order.products.forEach(product => { %>
                        <tr>
                            <td> <img width="60" src="<%= product.product.imageUrl %>"
                                    alt="<%= product.product.title %>" />
                            </td>
                            <td><%= product.product.shortDescription %></td>
                            <td>
                                <div class="input-append"><input class="span1" style="max-width:34px"
                                        value="<%= product.product.quantity %>" id="appendedInputButtons" size="16"
                                        type="text">
                                   
                                </div>
                            </td>
                            <td><%= product.product.price %></td>
                            <td><%= product.product.sale %></td>
                            <td><%= product.product.sale * product.product.quantity %></td>
                        </tr>
                        <% }); %>
                        <% }) %>
                        </tr>
                    </tbody>
                </table>
                <% } else { %>
                <h2>No orders found.</h2>
                <% } %>



            </div>
        </div>
    </div>
</div>
<!-- MainBody End ============================= -->
<%- include('../layouts/footer.ejs') %>