<%- include('../layouts/header.ejs')  %>

<div id="mainBody">
    <div class="container">
        <div class="row">

            <%- include('../layouts/sidebar.ejs')  %>

            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a> <span class="divider">/</span></li>
                    <li class="active"> Orders</li>
                </ul>
                
                <hr class="soft" />

                <% if (orders.length > 0) { %>
                
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Quantity/Update</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                      
                        <tbody>
                             <% orders.forEach( order => { %>
                             <% order.products.forEach( product => { %>
                            <tr>
                              <td> <img width="60" src="<%= product.imageUrl %>" alt=""/></td>
                              <td><%= product.shortDescription%><br/>Color: <%= product.color %></td>
                              <td>
                                <div class="input-append"><input class="span1" style="max-width:34px" value="<%= product.quantity %>" placeholder="1" id="appendedInputButtons" size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
                              </td>
                              <td><%= product.price %></td>
                              <td><%= product.sale %></td>
                              <td><%= (product.price - product.sale)*product.quantity %> </td>
                            </tr>
                            <tr>
                                <td colspan="6" style="text-align:right"><strong>TOTAL =</strong></td>
                                <td class="label label-important" style="display:block"> <strong><%= (product.price - product.sale)*product.quantity %></strong>
                                </td>
                            </tr>
                            <%})%>
                            <%})} else {%>
                               
                              <h2>No order found</h2>
        <%}%>
        
                            </tbody>
                </table>
             
                


            </div>
        </div>
    </div>
</div>
<!-- MainBody End ============================= -->
<%- include('../layouts/footer.ejs') %> 