<%- include("../layouts/header.ejs") %>;

<div id="mainBody">
  <div class="container">
    <div class="row">
        <%- include("../layouts/sidebar.ejs") %>;


        <div class="span9">
            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li class="active"> SHOPPING CART</li>
            </ul>
            <h3>  SHOPPING CART [ <small><% if(products.length ==0){ %>
              0 Item(s)
            <% } else{ %>
             <%=products.length%> Item(s)
            <%}%>
            </small>]<a href="/" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>	
            <hr class="soft"/>
           		
            
            <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Product</th>
                          <th>Description</th>
                          <th>Quantity/Update</th>
                          <th>Price</th>
                          <th>Discount</th>
                          <th>Tax</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <% if (products.length > 0) { %> <% products.forEach( product => { %>  
                      <tbody>
                        <tr>
                          <td> <img width="60" src="<%= product.imageUrl %>" alt=""/></td>
                          <td><%= product.shortDescription%><br/>Color: <%= product.color %></td>
                          <td>
                            <div class="input-append"><input class="span1" style="max-width:34px" value="<%= product.cartItem.quantity %>" placeholder="1" id="appendedInputButtons" size="16" type="text"><button class="btn" type="button"><i class="icon-minus"></i></button><button class="btn" type="button"><i class="icon-plus"></i></button><button class="btn btn-danger" type="button"><i class="icon-remove icon-white"></i></button>				</div>
                          </td>
                          <td><%= product.price %></td>
                          <td><%= product.sale %></td>
                          <td>$15.00</td>
                          <td><%= (product.price - product.sale)*product.cartItem.quantity %> </td>
                        </tr>
                        <%})} else {%>
                          <h2>No product found</h2>
    <%}%>
                        </tbody>
                    </table>
                   
                    		
            
              <form action="/make-order" method="post">
                <button type="submit" class="btn btn-large pull-right">Order Now <i class="icon-arrow-right"></i></button>
              </form>   
              
              
        </div>




    </div>
  </div>
</div>

<%- include("../layouts/footer.ejs") %>;
