<%- include("../layouts/header.ejs") %>;

<div id="mainBody">
  <div class="container">
    <div class="row">
        <%- include("../layouts/sidebar.ejs") %>;


        <div class="span9">
            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li class="active"> SHOPPING CART</li>
            </ul>
            <h3>  SHOPPING CART [ <small><% if(product.length ==0){ %>
              0 Item(s)
            <% } else{ %>
             <%=product.length%> Item(s)
            <%}%>
            </small>]<a href="/" class="btn btn-large pull-right"><i class="icon-arrow-left"></i> Continue Shopping </a></h3>	
            <hr class="soft"/>
           		
            
            <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Product</th>
                          <th>Description</th>
                          <th>Quantity/Update</th>
                          <th>Price</th>
                         
                          <th>Discount</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <% if (product.length > 0) { %> <% product.forEach( productItem => { %>  
                      <tbody>
                        <tr>
                          <td> <img width="60" src="<%= productItem.productId.imageUrl %>"
                            alt="<%= productItem.productId.title %>" /></td>
                    <td><%= productItem.productId.shortDescription %></td>
                    <td>
                        <div class="input-append"><input class="span1" style="max-width:34px"
                                value="<%= productItem.quantity %>" id="appendedInputButtons"
                                size="16" type="text"><button class="btn" type="button"><i
                                    class="icon-minus"></i></button><button class="btn" type="button"><i
                                    class="icon-plus"></i></button>
                            <form action="/cart-delete-item" method="POST">
                              <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                <input type="hidden" value="<%= productItem.productId._id %>" name="productId">
                                <button class="btn danger" type="submit"><i
                                        class="icon-remove icon-red"></i></button>
                            </form>
                        </div>
                    </td>
                    <td><%= productItem.productId.price %></td>
                    <% if(productItem.productId.sale) { %>
                    <td><%= productItem.productId.sale %></td>
                    <td><%= (productItem.productId.price * productItem.quantity) - productItem.productId.sale %></td>
                    <%}else{%>
                      <td></td>
                      <td><%= productItem.productId.price * productItem.quantity %></td>
                      <%}%>
                        </tr>
                        <%})} else {%>
                          <h2>No product found</h2>
    <%}%>
                        </tbody>
                    </table>
                    
                    <form action="/make-order" method="POST">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                      <button type="submit" class="btn btn-large pull-right">Order now <i
                              class="fas fa-shopping-cart"></i></button>
                  </form>  
              
              
        </div>




    </div>
  </div>
</div>

<%- include("../layouts/footer.ejs") %>;
